* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'popins', sans-serif;
}
a {
  text-decoration: none;
  color: steelblue;
}
p {
  margin: 10px 0;
}
h1 {
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: yellow;
  color: navy;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
.btn-secondary {
  font: inherits;
  font-size: 13px;

  background-color: navy;
  color: yellow !important;
  padding: 5px 15px;
  margin: 0 20px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.btn-secondary:hover {
  opacity: 0.8;
}
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-icon svg {
  margin-right: 5px;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
